* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background-color: #dfe3ee;
  font-family: sans-serif;
}
header {
  grid-column: span 2;
  color: #363753;
  margin-top: 0.5rem;
}
.gameTable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.slot {
  width: 10rem;
  height: 10rem;
  background-color: #7ee3d9;
  color: #2b2b3f;
  margin: 0.2rem;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem #7ec8e3, 0 0 1rem #fefefe;
}
.X,
.O {
  font-size: 17ch;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1.9rem;
}
.O {
  margin-left: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}
.turn {
  display: block;
  text-align: center;
  background-color: #363753;
  color: #fefefe;
  width: 50%;
  font-size: 2.5ch;
  margin-bottom: 3rem;
  margin-left: 7.3rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.tableContainer {
  padding-left: 20%;
  padding-top: 1rem;
}
.recordContainer {
  display: flex;
  padding-left: 10%;
  align-items: center;
  flex-direction: column;
}
.record {
  background-color: #363753;
  color: #fefefe;
  width: 25vw;
  height: 40vh;
  text-align: center;
  border-radius: 1rem;
}
button {
  background-color: #53a3c6;
  border: none;
  color: #fefefe;
  border-radius: 0.3rem;
  font-size: 2ch;
  cursor: pointer;
}
.reset {
  width: 5rem;
  height: 3rem;
  margin-top: 2rem;
}
.endScreen {
  position: absolute;
  width: 40rem;
  height: 20rem;
  background-color: #2b2b3f;
  color: #dfe3ee;
  border-radius: 1rem;
  top: 23%;
  left: 20%;
  transition: all 0.2s;
  text-align: center;
  font-size: 5ch;
  padding-top: 3rem;
}
.restart {
  width: 7rem;
  height: 4rem;
  position: absolute;
  top: 78%;
  left: 40%;
  font-size: 1ch;
}
